body {
    background-color: var(--color-bg);
}


/*Hero info in desktop*/
.hero__title {
    font-family: Satoshi;
    font-weight: 900;
    font-size: var(--text-hero);
}

.hero__subtitle {
    font-family: Satoshi;
    font-weight: 400;
    font-size: var(--text-lg);
}

.hero__link {
    color: var(--color-text-muted);
    font-family: Satoshi;
    font-size: var(--text-sm);
    font-weight: 500;
    text-decoration: none;
}

.hero__link:hover{
    text-decoration: underline;
}