:root {
    /*Colores para fondo claro*/
    --color-primary: #6d80a2;     /* tu color de acento — el que va en botones y detalles */
    --color-bg: #E9ECEF;          /* fondo de la página */
    --color-bg-alt: #7793c4;      /* fondo de secciones o tarjetas */
    --color-navbar: #8d99ae;      /* fondo de la barra de navegación */
    --color-text: #0F084B;        /* texto principal */
    --color-text-muted: #29274C;  /* texto secundario, subtítulos */
    --color-text-cards: #232155;  /* texto para contraste de botones*/

    --font-heading: "Clash-Display", sans-serif;  /* para títulos */
    --font-body: "Satoshi", serif;     /* para texto corrido */

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 6rem;

    --text-xs: 0.875rem; /*Footer, links pequeños*/
    --text-sm: 1rem; /*Navbar, links*/
    --text-md: 1.125rem; /*Párrafos, descripciones*/
    --text-lg: 1.25rem; /*Subtitulos*/
    --text-xl: 1.80rem; /*Titulos*/
    --text-hero: 2.5rem; /*Hero*/

    --border-sm: 1rem;
    --border-md: 1.25rem;
    --border-lg: 1.5rem;
    --border-xl: 2rem;
}